@for $i from 1 through 100 {
    .th-#{$i} {
      font-size: $i + px !important;
    }
  }
  
  // line-height
  @for $i from 1 through 100 {
    .th-lh-#{$i} {
      line-height: $i + px !important;
    }
  }
  
  // font weight
  @for $i from 100 through 900 {
    @if $i % 100==0 {
      .th-fw-#{$i} {
        font-weight: $i;
      }
    }
  }
  // width
  @for $i from 1 through 100 {
    .th-width-#{$i} {
      width: percentage($number: $i) / 100 !important;
    }
  }
  // height
  @for $i from 1 through 100 {
    .th-height-#{$i} {
      height: percentage($number: $i) / 100 !important;
    }
  }
  
  //   border radius
  @for $i from 1 through 100 {
    .th-br-#{$i} {
      border-radius: $i + px !important;
    }
  }
 